### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
Total_player= len(purchase_data["SN"].unique())
Total_player

576

In [3]:
Total_playerdf=pd.DataFrame({"Total count":[Total_player]})
Total_playerdf

   Total count
0          576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
number0f_item=len(purchase_data["Item Name"].unique())
avg_Price= purchase_data["Price"].mean()
Numberof_Purchases= len(purchase_data["Item Name"])
Total_rev=purchase_data["Price"].sum()

Purchase_analysis= pd.DataFrame({"Number of Unique Items":[number0f_item], "Average Price":[avg_Price],
                                 "Number of Purchases":[Numberof_Purchases],"Total Revenue":[Total_rev]})

Purchase_analysis["Number of Purchases"]=Purchase_analysis["Number of Purchases"].map("${:}".format)
Purchase_analysis["Average Price"]=Purchase_analysis["Average Price"].map("${:.2f}".format)
Purchase_analysis["Total Revenue"]= Purchase_analysis["Total Revenue"].map("${:,}".format)

Purchase_analysis

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                $780     $2,379.77

In [5]:
male= purchase_data["Gender"].value_counts()["Male"]
male

652

In [6]:
female=purchase_data["Gender"].value_counts()["Female"]
female

113

In [7]:
non=purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]
non

15

In [8]:
Total_Gen=purchase_data["Gender"].count()
Total_Gen

780

In [9]:
male= purchase_data["Gender"].value_counts()["Male"]
female=purchase_data["Gender"].value_counts()["Female"]
non=purchase_data["Gender"].value_counts()["Other / Non-Disclosed"]
Total_Gen=purchase_data["Gender"].count()

Male_per = (male/Total_Gen)*100
Female_per=(female/Total_Gen)*100
Non_per=(non/Total_Gen)*100

Gender_analysis=pd.DataFrame({"":["Male","Female","Other/Non-Disclosed"],
                             "Total Count":[male,female,non],
                             "Percentage of Players":[Male_per,Female_per,Non_per]})

Gender_analysis["Percentage of Players"]= Gender_analysis["Percentage of Players"].map("{:.2f}".format)

Gender_analysis

                        Total Count Percentage of Players
0                 Male          652                 83.59
1               Female          113                 14.49
2  Other/Non-Disclosed           15                  1.92

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
groupby_pd= purchase_data.groupby(["Gender"])

PurchCount=groupby_pd["SN"].count()
PurchCount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [11]:
groupby_pd= purchase_data.groupby(["Gender"])

PurchCount=groupby_pd["SN"].count()
PurchPrice=groupby_pd["Price"].mean()
TotPurch_val=groupby_pd["Price"].sum()
Purchper_P=(groupby_pd["Price"].sum() / groupby_pd["SN"].count())

GenderP_analysis= pd.DataFrame({
                               "Average Purchase Count":PurchPrice,
                               "Total Purchase Value":TotPurch_val,
                               "Avg Total Purchase per Person":Purchper_P})

GenderP_analysis["Average Purchase Count"] = GenderP_analysis["Average Purchase Count"].map("${:.2f}".format)
GenderP_analysis["Total Purchase Value"] = GenderP_analysis["Total Purchase Value"].map("${:,.2f}".format)
GenderP_analysis["Avg Total Purchase per Person"] = GenderP_analysis["Avg Total Purchase per Person"].map("${:.2f}".format)

GenderP_analysis

,Average Purchase Count,Total Purchase Value,Avg Total Purchase per Person
Gender,,,
Female,$3.20,$361.94,$3.20
Male,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins = [0, 10, 15, 20, 25, 30, 35, 39, 40]
group_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"]= pd.cut(purchase_data["Age"], bins, labels= group_label)

age_count = purchase_data.groupby("Age Group")["SN"].count()

player_percentage = (age_count/Total_player)*100

Age_dem=pd.DataFrame({"Total Count":age_count,
                      "Percentage of Players": player_percentage
                     })

Age_dem["Percentage of Players"] = Age_dem["Percentage of Players"].map("{:.2f}".format)

Age_dem

           Total Count Percentage of Players
Age Group
<10                 32                  5.56
10-14               54                  9.38
15-19              200                 34.72
20-24              325                 56.42
25-29               77                 13.37
30-34               52                  9.03
35-39               27                  4.69
40+                  6                  1.04

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
Purch_count= purchase_data.groupby("Age Group")["Item ID"].count()
#Purch_count= Purch_count.rename(columns={"Item ID": "Purchase count"})

#purchase_data["Average Purchase Price"]= ((purchase_data.groupby("Age Group")["Price"].sum())/ Purch_count["Purchase count"]) 
AVP= ((purchase_data.groupby("Age Group")["Price"].sum())/ Purch_count)

#purchase_data["Total Purchase Value"] = purchase_data.groupby("Age Group")["Price"].sum()
TVP = purchase_data.groupby("Age Group")["Price"].sum()

#N= purchase_data.groupby("Age Group")["SN"].unique()
#TPPP = ((purchase_data.groupby("Age Group")["Price"].sum())/ N["SN"]

TPPP= (TVP/Purch_count)

Norm = pd.DataFrame({"Purchase Count":Purch_count, "Average Purchase Price": AVP, 
                     "Total Purchase Value": TVP, "Avg Total Purchase Per Person":TPPP})

Norm["Average Purchase Price"]=Norm["Average Purchase Price"].map("${:.2f}".format)
Norm["Total Purchase Value"]= Norm["Total Purchase Value"].map("${:.2f}".format)
Norm["Avg Total Purchase Per Person"]= Norm["Avg Total Purchase Per Person"].map("${:.2f}".format)
Norm

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,27,$3.54,$95.64,$3.54
40+,6,$2.79,$16.71,$2.79

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
TS=purchase_data[["SN", "Price"]]
GTS= TS.groupby("SN")

Purchase_Count= GTS["Price"].count()
Avg_PP= GTS["Price"].mean()
TVP= GTS["Price"].sum()

df= pd.DataFrame({"Purchase Count": Purchase_Count, "Average Purchase Price": Avg_PP, "Total Purchase Value": TVP})
df= df.sort_values("Purchase Count" , ascending= False)
df["Average Purchase Price"]= df["Average Purchase Price"].map("${:.2f}".format)
df["Total Purchase Value"]= df["Total Purchase Value"].map("${:.2f}".format)
df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
triv= purchase_data[["Item ID", "Item Name", "Price"]].head()
triv

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [23]:

PC= purchase_data.groupby(["Item ID","Item Name"]) ["Item Name"].count()
ip= purchase_data.groupby(["Item ID","Item Name"]) ["Price"].unique()
tvp= purchase_data.groupby(["Item ID","Item Name"]) ["Price"].sum()


top= pd.DataFrame({"Purchase Count": PC, "Item Price": ip,"Total Purchase Value": tvp})
top= top.sort_values("Purchase Count", ascending= False)

top["Total Purchase Value"]=top["Total Purchase Value"].map("${:.2f}".format)
top["Item Price"]= top["Item Price"].str.get(0)
top["Item Price"]=top["Item Price"].map("${:.2f}".format)

top.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:
PC= purchase_data.groupby(["Item ID","Item Name"]) ["Item Name"].count()
ip= purchase_data.groupby(["Item ID","Item Name"]) ["Price"].unique()
tvp= purchase_data.groupby(["Item ID","Item Name"]) ["Price"].sum()

top= pd.DataFrame({"Purchase Count": PC, "Item Price": ip,"Total Purchase Value": tvp})
top= top.sort_values("Total Purchase Value", ascending= False)

top["Total Purchase Value"]=top["Total Purchase Value"].map("${:.2f}".format)
top["Item Price"]= top["Item Price"].str.get(0)
top["Item Price"]=top["Item Price"].map("${:.2f}".format)

top.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80